.spinner-margin {
  margin: 0 10px;
}

.option-buttons button {
  margin-left: 10px;
  margin-top: 5px;
}

.secure button {
  margin-left: 10px;
  margin-bottom: 5px;
}

.hero-details span {
  font-style: oblique;
  margin-left: 10px;
}

.hero-details label {
  font-style: oblique;
  margin-left: 10px;
}