<h2>{{hero.name | uppercase}} Details</h2>

<div><span>id: </span>{{hero.id}}</div>

<div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name" />
</div>
<div>
    <button type="button" (click)="save(hero)">Save</button>
    <button *ngIf="hero.id != 0" type="button" (click)="delete(hero.id)">Delete</button>
    <button type="button" (click)="goBack()">go back</button>
</div>
<div class="secure" *ngIf="idConfirm">
    <button type="button" (click)="deleteconfirm(hero.id)">Delete</button>
    <button type="button" (click)="deletecancel()">Delete</button>
</div>