<div *ngIf="spinnerShow">
    <mat-progress-spinner class="spinner-margin" mode="indeterminate" value="50"></mat-progress-spinner>
</div>

<div class="option-buttons" *ngIf="!spinnerShow">
    <BR>
    <mat-label for="name">Name: </mat-label>
    <input id="name" type="text" [(ngModel)]="namefilter">
    <button mat-raised-button color="primary" type="button" (click)="filterHero()">Filter </button>
    <button mat-raised-button color="accent" type="button" (click)="cleanFilter()">Clean Filter </button>
    <br>
    <app-heroes></app-heroes>
    <br>
    <div>
        <button mat-raised-button color="primary" type="button" (click)="createNewHero()">Create Hero </button>
        <button mat-raised-button color="accent" type="button" (click)="EditHero()">Edit Hero </button>
    </div>
</div>